#compromisosRow{ 
   color: white;
}

#backRed{
   height: 110px;
   color: white;
}

#backGreen{
   height: 110px;
   color: white;
   
}

#backWhite{
   height: 55px;
   border-bottom: 3px;
   border-bottom-color: white;
   border-bottom-style: solid;
   color: white;
}

#backSwitch{
   height: 55px;   
}